body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.image-section {
    flex: 1;
    background-image: url('guy.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
}
h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin-bottom: -20px;
}

p {
    text-align: left;
    margin-bottom: 20px;
    color: #666;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #c0adadeb;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 5px;
    background-color: #c0adadeb
}

a {
    text-decoration: none;
    color: #0066cc;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

login-btn:hover {
    background-color: darkred;
}

.or {
    text-align: center;
    margin: 20px 0;
    color: #999;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons i {
    font-size: 20px;
    color: #333;
}

.reg {
    cursor: pointer;
}

.yo {
    margin-bottom: -8px;
}

